

.all {
    
    width: 100%;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.Ava-Name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    width: 15%;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
}

.title {
    font-size: 20px;
   color: orange;
 
   
}

.Search-LS {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}
input {
    width: 500px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(123, 123, 123);
    padding: 5px 10px;
    font-size: 16px;
    
}
input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(47, 47, 47);
    border: 1px solid rgb(123, 123, 123);
}

.searchbar {
    position: relative;
    display: flex;
    align-items: center;
    
}
.search-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    color: gray;
    cursor: pointer;
}

.L-S {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: rgb(255, 255, 255);
    gap: 2px;
    cursor: pointer;
}
.Login {
    padding: 15px 20px;
    border: 1px solid;    
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow:0 0 10px #763838;
    background-color: #dd1e1e;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.Login:hover {
 background-color: rgb(169, 48, 48)
    
}


.Signup {
    padding: 15px 20px;
    border: 1px solid;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow:0 0 10px #7a6236;
    background-color: rgb(255, 149, 0);
    border-top: 1px solid rgba(255,255,255,0.4);
    
}

.Signup:hover {
    background-color: rgb(161, 122, 39);
}


.body {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 15%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: black;
    text-decoration: none;
    

}

.content {
    width: 85%;
    height: 100vh;
    background-color: #cfdbea;
    border-radius: 10px;
  
}


.sidebar-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
}

.sidebar-link-active {
    background-color: #cfdbea;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    text-decoration: none;
}